.idea/
__pycache__/
wandb/
notebooks/err_analysis/bpets_err.ipynb
notebooks/err_analysis/cityscapes_err.ipynb
notebooks/err_analysis/oasis_35_err.ipynb
notebooks/err_analysis/oasis_4_err.ipynb
notebooks/err_analysis/oxpets_err.ipynb
notebooks/inference/bpets_inference.ipynb
notebooks/inference/cityscapes_inference.ipynb
notebooks/inference/oasis_35_inference.ipynb
notebooks/inference/oasis_4_inference.ipynb
notebooks/inference/oxpets_inference.ipynb
